# Metal Prices - merge and tidy

In [1]:
import pandas as pd

In [2]:
gold_df = pd.read_csv('./data/gold-current.csv', header=[0,1,2,3,4])
gold_df = gold_df.drop('Lease Rates', 1) # Ignore the lease rate

gold_df.head()

/home/robota/propro/metal/env/lib/python3.8/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

          Market Perth Mint Spot                                        \
  Metal/Currency            Gold
       Priced In             USD               AUD                 JPY
      Price Type             Bid      Ask      Bid      Ask        Bid
         Summary            High     High     High     High       High
0       01/01/16             NaN      NaN      NaN      NaN        NaN
1       02/01/16             NaN      NaN      NaN      NaN        NaN
2       03/01/16             NaN      NaN      NaN      NaN        NaN
3       04/01/16         1068.46  1080.73  1480.07  1498.10  127638.30
4       05/01/16         1074.19  1086.50  1492.14  1509.43  128243.36

                                                                        \

                  USD               AUD                 JPY
         Ask      Bid      Ask      Bid      Ask        Bid        Ask
        High      Low      Low      Low      Low        Low        Low
0        NaN      NaN      NaN      NaN      NaN        NaN        NaN
1        NaN      NaN      NaN      NaN      NaN        NaN        NaN
2        NaN      NaN      NaN      NaN      NaN        NaN        NaN
3  129174.53  1056.24  1068.74  1447.10  1465.43  126692.68  128397.65
4  129858.48  1069.40  1081.70  1487.24  1504.30  127451.09  129165.80



       USD               AUD                 JPY
       Bid      Ask      Bid      Ask        Bid        Ask
   Average  Average  Average  Average    Average    Average
0      NaN      NaN      NaN      NaN        NaN        NaN
1      NaN      NaN      NaN      NaN        NaN        NaN
2      NaN      NaN      NaN      NaN        NaN        NaN
3  1061.56  1073.71  1466.96  1484.67  127019.56  128654.33
4  1072.13  1084.56  1489.07  1507.17  127952.02  129639.48

In [3]:
melted_df = gold_df.melt(id_vars=[('Market', 'Metal/Currency', 'Priced In', 'Price Type', 'Summary')], var_name=['market', 'metal', 'currency', 'type','summary'], value_name='price')

melted_df.head()

,"(Market, Metal/Currency, Priced In, Price Type, Summary)",market,metal,currency,type,summary,price
0,01/01/16,Perth Mint Spot,Gold,USD,Bid,High,NaN
1,02/01/16,Perth Mint Spot,Gold,USD,Bid,High,NaN
2,03/01/16,Perth Mint Spot,Gold,USD,Bid,High,NaN
3,04/01/16,Perth Mint Spot,Gold,USD,Bid,High,1068.46
4,05/01/16,Perth Mint Spot,Gold,USD,Bid,High,1074.19

In [4]:
melted_df.rename({('Market', 'Metal/Currency', 'Priced In', 'Price Type', 'Summary'): 'Date'}, axis=1, inplace=True)
melted_df.dropna(inplace=True)

melted_df.head()

       Date           market metal currency type summary    price
3  04/01/16  Perth Mint Spot  Gold      USD  Bid    High  1068.46
4  05/01/16  Perth Mint Spot  Gold      USD  Bid    High  1074.19
5  06/01/16  Perth Mint Spot  Gold      USD  Bid    High  1080.35
6  07/01/16  Perth Mint Spot  Gold      USD  Bid    High  1098.50
7  08/01/16  Perth Mint Spot  Gold      USD  Bid    High  1105.30

In [5]:
melted_df.to_csv('./output/gold-tidy.csv')